process{
    errorStrategy='finish'
    withName: 'iqtree' {
        publishDir = [mode: 'copy',path: './results/iqtree' ] 
    }    
    withName: 'iqtree3' {
        publishDir = [mode: 'copy',path: 'results/iqtree' ] 
    }
    withName: 'collatePAML'{
        publishDir = [mode:'copy',path: './results/tipDater']
    }
    withName:'date_permutations'{
         publishDir = [mode:'copy',path: './results/permutations']
    }
    withName:'make_xml'{
         publishDir = [mode:'copy',path: './results/beast/a5dbe6f/xml']
    }
    withName:'run_beast'{
         publishDir = [mode:'copy',path: './results/beast/a5dbe6f/logs']
         clusterOptions= "--gpus=rtx2080ti:1"  
    }
    withName:'log_combiner'{
         publishDir = [mode:'copy',path: './results/beast/a5dbe6f/logs/combined']
    }
    withName:'tree_combiner'{
         publishDir = [mode:'copy',path: './results/beast/a5dbe6f/logs/combined']
    }
    withName:'process_beast'{
                publishDir = [mode:'copy',path: './results/beast/a5dbe6f/processed']
            }
}

profiles {
    docker {
        docker.enabled = true
        process.container = 'quay.io/mccronelab/latency-reservoir:a5dbe6f'
    }
    dockerLocal {
        docker.enabled = true
        process.container = 'latency-test'
    }
    server{
        apptainer.enabled = true
        process.container = 'quay.io/mccronelab/latency-reservoir:a5dbe6f'
    }
    publish{
	aws {
	    region = 'us-west-2'
	    profile= 'hutch'
	}
        process{
	    withName:'run_beast'{
        	 publishDir = [mode:'copy',path: 's3://fh-pi-mccrone-j-eco-public/projects/latency-reservoir/beast/a5dbe6f/logs']
         	clusterOptions= "--gpus=rtx2080ti:1"  
   	    }	
    	    withName:'log_combiner'{
         	publishDir = [mode:'copy',path: 's3://fh-pi-mccrone-j-eco-public/projects/latency-reservoir/beast/a5dbe6f/logs/combined']
    	    }
    	    withName:'tree_combiner'{
         	publishDir = [mode:'copy',path: 's3://fh-pi-mccrone-j-eco-public/projects/latency-reservoir/beast/a5dbe6f/logs/combined']
    	    }
    	    withName:'process_beast'{
                publishDir = [mode:'copy',path: 's3://fh-pi-mccrone-j-eco-public/projects/latency-reservoir/beast/a5dbe6f/processed']
            }	
	}
    }
    test{
        process{
            withName: 'iqtree' {
                publishDir = [mode: 'copy',path: './results/test/iqtree' ] 
            }    
            withName: 'iqtree3' {
                publishDir = [mode: 'copy',path: './results/test/iqtree' ] 
            }
            withName: 'collatePAML'{
                publishDir = [mode:'copy',path: './results/test/tipDater']
            }
            withName:'date_permutations'{
                publishDir = [mode:'copy',path: './results/test/permutations']
            }
            withName:'make_xml'{
                publishDir = [mode:'copy',path: './results/test/beast/a5dbe6f/xml']
            }

            withName:'run_beast'{
                publishDir = [mode:'copy',path: './results/test/beast/a5dbe6f/logs']
            }
            withName:'log_combiner'{
                publishDir = [mode:'copy',path: './results/test/beast/a5dbe6f/logs/combined']
            }
            withName:'tree_combiner'{
                publishDir = [mode:'copy',path: './results/test/beast/a5dbe6f/logs/combined']
            }
            withName:'process_beast'{
                publishDir = [mode:'copy',path: './results/test/beast/a5dbe6f/processed']
            }
        }
    }
}
